.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
  z-index: 0;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
  z-index: 10;
}

#map {
  z-index: 20;
  height: 100%;
}

@media screen and (max-width: 720px) {
  .map-frame {
    height: 50%;
  }
}
