<div
  class="z-50 absolute right-6 top-6 bg-white border h-4/5 w-1/4 flex flex-col"
>
  <span class="text-center w-full text-2xl">Обьекты</span>
  <input
    type="text"
    placeholder="Поиск по названию"
    class="h-8 border"
    [(ngModel)]="tern"
    (input)="onInput()"
  />
  <div *ngIf="data" class="flex flex-col items-center gap-2">
    <div
      *ngFor="let marker of data"
      class="border w-full text-center cursor-pointer"
      [ngClass]="{
        'bg-yellow-400': marker.id === selectedMarkerId
      }"
      (click)="onClickObject(marker)"
    >
      Name: {{ marker.name }}, Id: {{ marker.id }}
    </div>
  </div>
</div>
