.sidebarContainer {
  color: #000;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sidebar {
  z-index: 999;
  position: absolute;
  right: 3rem;
  top: 3rem;
  background-color: white;
  height: 85%;
  width: 20%;
  border-radius: 10px;
}

.sidebarInput {
  background-color: #f2f2f2;
  color: #000;
}
