<div class="sidebar">
  <span class="sidebar-name">Обьекты</span>
  <input
    type="text"
    placeholder="Поиск по названию"
    class="sidebar-input"
    [(ngModel)]="tern"
    (input)="onInput()"
  />
  <div *ngIf="data" class="sidebar-object-container">
    <div
      *ngFor="let marker of data"
      class="sizebar-object"
      [ngClass]="{
        'bg-yellow-400': marker.id === selectedMarkerId
      }"
      (click)="onClickObject(marker)"
    >
      <img class="sidebar-object-img" src="../../../assets/images/car.svg" />{{
        marker.name
      }}
    </div>
  </div>
</div>
